.formularioDigital{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1010px;
    max-width: 1010px;
    min-height: 1466px;
    max-height: 1466px;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/formulario.JPG);
}

form{
    position: relative;
    top: 29px;
    left: 10px;
    width: 1010px;
    height: 1266px;
}


.inf-pedido{
    position: absolute;
    right: 100px;
}

#pedido, #fecha, #cuenta{
    background-color: rgb(216, 216, 216);
    position: relative;
    display: grid;
    margin: 0 0 10px 0;
    border: none;
    height: 17px;
    text-align: center;
}

#pedido{
    font-size: 16px;
    color: red;
}

.nombre, .dir-tel-barr, .emp-tel-dir, .car-ant-s-v, .email-ent-fechaC, .nino-ciudad, .code-nombre, .referencias, .obras, .Obsev-cedula, .cedula-firma-huella {
    position: relative;
    left: 30px;
}

input{
    border: none;
    /*background-color: transparent;*/
    font-weight: bold;
    /*text-align: center;*/
}

textarea{
    line-height: 1.95em;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.nombre{
    top: 108px;
}

#nombre1, #apellido{
    width: 450px;
    height: 17px;
    text-align: center;
    font-size: 18px;
}


.dir-tel-barr{
    top: 123px;
    height: 17px;
}

#direccion{
    width: 450px;
}


#telefono{
    width: 124px;
}

#barrio{
    width: 340px;
}

.emp-tel-dir{
    top: 140px;
}

#empresa{
    width: 450px;
}

#telefono2{
    width: 124px;
}

#direccion2{
    width: 340px;
}

.car-ant-s-v{
    top: 156px;
}

#cargo{
    width: 300px;
}

#antiguo{
    width: 141px;
}

#sueldo{
    width: 125px;
}

#propia, #alqui{
    margin-left: 121px;
}

.email-ent-fechaC{
    top: 169px;
}

#email{
    width: 512px;
}

#entrega{
    margin-left: 53px;
}

#entrega2{
    margin-left: 70px;
}

#fCobro{
    margin-left: 25px;
    text-align: center;
}

.nino-ciudad{
    top: 185px;
    margin-left: 70px;
}

#nNino{
    width: 627px;
}

#ciudad{
    margin-left: 52px;
    text-align: center;
}

.code-nombre{
    top: 214px;
}

#cNomb{
    width: 448px;
}

#cApell{
    margin-left: 10px;
    width: 460px;
}

#cEmpresa{
    margin: 17px 4px 0 0 ;
    width: 448px;
}

#ctele{
    width: 124px;
}

#cDir{
    width: 338px;
}

#cCargo{    
    margin: 17px 4px 0 0 ;
    width: 299px;
}

#cAntig{
    width: 138px;
}

#cSueldo{
    width: 125px;
}

#cAuto1, #CAuto2{
    margin-left: 22px;
}

#cmarca{
    margin-left: 5px;
    width: 71px;
}

#cModelo, #cPlaca{
    width: 71px;
}

.referencias{
    top: 231px;
    left: 74px;
    width: 360px;
}

#rNomb1, #rNomb2, #rNomb3, #rNomb4{
    width: 248px;
    margin-right: 33px;
}

#r-p-1, #r-p-2, #r-p-3, #r-p-4{
    width: 65px;
}

#rTele1, #rTele2, #rTele3, #rTele4{
    margin: 9px 55px 7px 0 ;
    width: 148px;
}

#rTele-res1, #rTele-res2, #rTele-res3, #rTele-res4{
    width: 145px;
}

.obras{
    width: 450px;
    top: 255px;
}

#coleccion, #valor{
    margin-right: 10px;
}

#coleccion{
    max-width: 270px;
    min-width: 270px;
    max-height: 210px;
    min-height: 210px;
}

#valor{
    max-width: 110px;
    min-width: 110px;
    max-height: 210px;
    min-height: 210px;
}

#oCuotas{
    margin: 0px 90px 0 50px;
    width: 130px;
    text-align: center;
    
}

#oValor{
    width: 120px;
    text-align: center;
}

.Obsev-cedula{
    top: 281px;
    width: 800px;
    left: 5px;
}

#observaciones{
    font-size: 12px;    
    line-height: 1.3em;    
    max-width: 430px;
    min-width: 430px;
    max-height: 63px;
    min-height: 63px;
}

#cedula1{
    margin: 0 0 0 455px;
    width: 280px;
    letter-spacing: 18px;
}

#cc1{
    width: 12px;
    font-size: 18px;
    margin-right: 21px;
}

#ce1{
    width: 12px;
    font-size: 18px;
}

#relacionista{
    margin-left: 128px;
    width: 290px;
    display: block;
    font-size: 18px;
}

#colaborador{
    margin: 20px 0 0 20px;
    width: 150px;
    font-size: 16px;
}

#director{
    margin: 0 400px 0 60px;
    width: 150px;
    font-size: 16px;
}

#organizador{
    margin: 9px 0 0 100px;
    width: 110px;
    height: 20px;
}

#rematador{
    margin-left: 90px;
    width: 120px;
    height: 20px;
}

#cedula2{
    margin-left: 21px;
    width: 280px;
    letter-spacing: 18.5px;
}

#cc2{
    width: 12px;
    font-size: 18px;
    margin-right: 19px;
}

#ce2{
    width: 12px;
    font-size: 18px;
}

.cedula-firma-huella{
    top: 574px;
    margin-left: 20px;
}

#cedula3{
    letter-spacing: 5px;
    width: 300px;
}

#btImprimir{
    width: 100px;
    height: 20px;
    margin-left: 15px;
    background: black;
    color: white;
}

#btImprimir:hover{
    cursor: pointer;
}

#cedula4{
    margin-left: 65px;
    letter-spacing: 5px;
    width: 300px;
}